@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Montserrat', sans-serif;
}
.services__text h1,
.project__section__text h1,
.project__text h1{
     font-family: 'Archivo Black', 'sans-serif';
}
.text-stroke{
    -webkit-text-stroke: 1px #ffffff;
    text-stroke: 1px #ffffff;
  }

  
body{
    @apply bg-dark
}
p,h1,h2,h3,h4,h5,h6,span,a{
    @apply text-light;
}
.tns-controls{
    @apply absolute flex items-center justify-between w-[93vw] z-50 text-primary text-[2rem] left-[.6rem] top-[60%] lg:top-[60%] lg:left-[5%] lg:w-[90vw]
}
.amazon__content .tns-controls{
    @apply absolute flex items-center justify-between w-[93vw] z-50 text-primary text-[2rem] left-[.6rem] top-[65%] lg:top-[65%] lg:left-[5%] lg:w-[90vw]
}
.amazon__storefront .tns-controls{
    @apply absolute flex items-center justify-between w-[93vw] z-50 text-primary text-[2rem] left-[.6rem] top-[68%] lg:top-[50%] lg:left-[0%] lg:w-[85vw]
}
.logo .tns-controls{
    @apply absolute flex items-center justify-between w-[93vw] z-50 text-primary text-[2rem] left-[.6rem] top-[68%] lg:top-[60%]  lg:left-[5%] lg:w-[90vw]
}
.container{
    @apply px-[2rem] lg:px-[10rem] max-w-[120rem]
}
@layer components {
    .header{
        @apply bg-black h-[6rem] flex items-center justify-center
    }
    .header__wrapper{
        @apply flex justify-between items-center lg:block
    }
    .branding{
        @apply lg:flex lg:justify-between
    }
    .branding img{
        @apply h-[3rem] 
    }
    .branding ul{
        @apply gap-[2rem] hidden items-center lg:flex lg:justify-between overflow-hidden
    }
    .header__nav{
        @apply lg:hidden absolute top-[-33rem] left-0 z-50 overflow-hidden w-[100%] mt-[6rem] duration-300 ease-in
    }
    .header__nav.open{
        @apply top-0 duration-300 ease-in z-50 bg-dark left-0
    }
    .header__nav ul li{
        @apply  border-b border-light hover:bg-[#2F2F2F] pl-[1rem]
    }
    .header__nav ul li:first-child a{
        @apply text-primary
    }
    .header__nav ul li:hover a{
        @apply text-primary
    }
    .header__nav ul li a{
        @apply uppercase hover:text-primary flex py-[1rem]
    }
    /* .branding ul li:first-child a{
        @apply text-primary border-b-2 pb-[.3rem]
    } */

    .branding ul li a{
        @apply uppercase hover:text-primary
    }
    .toggle__menu{
        @apply lg:hidden;
    }
    .toggle__menu span{
        @apply block bg-white h-[3px] w-[1.5rem];
    }
    .toggle__menu span:nth-child(2){
        @apply my-1;
    }
    .toggle__menu.open span:first-child{
        @apply rotate-[45deg] translate-y-[.29rem];
    }
    .toggle__menu.open span:nth-child(2){
        @apply opacity-0 transition-all;
    }
    .toggle__menu.open span:last-child{
        @apply rotate-[-45deg] -translate-y-[.6rem];
    }

    /* BANNER */
    .banner{
        @apply relative py-[2rem] lg:py-[8rem] mb-[5rem]
    }
    .banner__wrapper{
        @apply flex flex-wrap-reverse justify-center gap-0 
    }
    .banner__text{
        @apply justify-center text-center lg:text-start
    }
    .banner__name{
        @apply py-[2rem]
    }
    .banner__name h3{
        @apply text-[1.4rem] text-primary font-bold uppercase
    }
    .banner__name p{
        @apply text-gray text-[1.3rem]
    }
    .banner__info {
        @apply flex justify-center text-center text-[2rem] lg:text-[3.3rem] relative
        lg:text-start 
    }
    .banner__info h4{
        @apply px-[1rem] text-[1.5rem] lg:text-[3.3rem] mb-[2rem] w-[25rem] lg:w-[50rem] lg:px-0
    }
    .banner__info span{
        @apply absolute bottom-0 lg:left-0 mt-[1rem] h-[.3rem] w-[8rem] lg:w-[5rem] bg-primary 
    }
    .banner__links{
        @apply my-[4rem] flex justify-center lg:justify-start
    }
    .banner__links ul{
        @apply flex gap-[2rem]
    }
    .banner__links ul li a i{
        @apply text-primary text-[2.2rem] hover:text-light
    }
    .chevron__down{
        @apply hidden lg:block
    }
    .chevron__down span a {
        @apply absolute bottom-[2rem] left-[50%] mt-[1rem] lg:flex lg:justify-center text-[2.3rem] text-primary 
    }

    /* SERVICES */
    .services{
        @apply flex justify-center
    }
    .services__text{
        @apply relative text-center py-[4rem] flex justify-center
    }
    .services__text h1{
        /* @apply absolute z-50 bg-clip-text text-transparent text-[3.5rem] left-[3.5rem] top-[-1.5rem] opacity-[.07] lg:text-[7rem] */
            @apply z-50 bg-clip-text text-transparent text-[3.5rem]  opacity-[.07] lg:text-[7rem] 
    }
    .services__text h4{
        @apply absolute text-primary font-medium text-[1.5rem] top-[5.5rem]
        lg:text-[3rem] lg:top-[7rem]
    }
    .services__holder{
        @apply lg:grid lg:grid-cols-3 lg:gap-[2rem]
    }
    .services__list{
        @apply relative mb-[2rem] opacity-75 hover:opacity-100
    }

    .services__list:hover h3{
        @apply text-primary
    }
    .services__list:hover p{
        @apply text-primary
    }
    .services__list i{
        @apply text-primary text-[5rem] 
    }
    .services__list h3{
        @apply py-[2rem] font-bold uppercase text-[1.5rem]
    }
    .services__list p{
        @apply text-[#ececec] text-[.8rem]
    }
    .web__design{
        @apply bg-web-design-bg bg-cover h-[20rem] p-[2rem]
    }
    .web__dev{
        @apply bg-web-dev-bg bg-cover h-[20rem] p-[2rem]
    }
    .graphic__design{
        @apply bg-graphic-design-bg bg-cover h-[20rem] p-[2rem]
    }
    .svs__branding{
        @apply bg-branding-bg bg-cover h-[20rem] p-[2rem]
    }
    .ui__ux__design{
        @apply bg-uiux-design-bg bg-cover h-[20rem] p-[2rem]
    }
    .video__editing{
        @apply bg-video-editing-bg bg-cover h-[20rem] p-[2rem] 
    }
    .project{
        @apply mb-[5rem] flex justify-center
    }
    .project__holder{
        @apply overflow-hidden
    }
    .project__holder:first-child{
        @apply mt-[5rem]
    }
    .project__section__text{
        @apply relative text-center py-[4rem] flex justify-center
    }
    .project__section__text h1{
        /* @apply absolute z-50 bg-clip-text text-transparent text-[3.5rem] left-[3.5rem] top-[-1.5rem] opacity-[.07] lg:text-[7rem] */
            @apply z-50 bg-clip-text text-transparent text-[3.5rem]  opacity-[.07] lg:text-[7rem] 
    }
    .project__section__text h4{
        @apply absolute text-primary font-medium text-[1.5rem] top-[5.5rem]
        lg:text-[3rem] lg:top-[7rem]
    }
    .project__list{
        @apply relative mb-[10rem] lg:flex lg:justify-between lg:mb-[0rem] opacity-0 transition-all duration-[1.5s] lg:translate-x-[-100rem] blur-md
    }
    .project__list:first-child {
        @apply lg:flex-row-reverse mt-[5rem] lg:mt-0
    }
    /* .project__list:nth-child(2){
        @apply opacity-0
    } */
    .project__list:nth-child(2) .project__text{
        @apply z-50
    }
    .project__list:nth-child(2) .project__box{
        @apply lg:ml-[2rem]
    }
    .project__list:last-child{
        @apply mb-[2rem] lg:flex-row-reverse
    }
    .project__list:last-child img{
        @apply lg:mt-[7rem]
    }
    .project__img{
        @apply mb-[5rem]
    }
    .project__img img{
        @apply z-50 absolute top-[-2rem]  lg:top-0 lg:relative
    }
    .project__box{
        @apply bg-[#353535] h-[18rem] lg:h-[30rem] lg:absolute lg:top-[10rem] w-full lg:w-[55%] z-10 rounded-xl mt-[-2rem]
    }
    .project__text{
        @apply block justify-center text-center mx-[2rem] lg:text-start lg:align-middle lg:mt-[10rem]
    }
    .project__text h1{
        @apply uppercase
    }
    .project__category{
        @apply relative 
    }
    .project__category h3{
        @apply text-gray uppercase text-[1.2rem] pb-[.5rem] font-medium
    }
    .project__category span{
        @apply absolute bottom-0 lg:left-0 ml-[-4rem] lg:ml-[0rem] mt-[1rem] h-[.2rem] w-[8rem] lg:w-[5rem] bg-primary 
    }
    .project__text{
        @apply lg:w-[40rem]
    }
    .project__text h1{
        @apply py-[1rem] text-[2.3rem]
    }
    .project__text p{
        @apply uppercase font-medium leading-8 text-[.9rem] text-justify mb-[1rem]
    }
    .project__text a{
        @apply text-primary text-[1.2rem] font-medium uppercase 
    }
    .project__more span{
        @apply flex h-[8rem] w-[.1rem] mb-[1rem] lg:mb-[3rem] bg-light justify-center mx-auto
    }
    .project__more a{
        @apply text-center flex justify-center text-primary font-medium text-[1.5rem]
    }
    /* BRANDS */
    .brands{
        @apply bg-[#ffffff] h-[35rem] flex justify-center
    }
    .brands__wrapper h4{
        @apply flex justify-center text-center text-[#707070] py-[4rem]
    }
    .brands__list{
        @apply mb-[2rem]
    }
    .brands__list ul{
        @apply grid grid-cols-2 gap-[3rem] lg:gap-[5rem] lg:grid-cols-3
    }
    .brands__list ul li{
        @apply flex justify-center 
    }
    .brands__list ul li img{
        @apply object-contain
    }
    /* Experience */
    .experience{
        @apply py-[5rem] lg:py-[8rem] flex justify-center
    }
    .experience__wrapper{
        @apply lg:flex lg:justify-between lg:items-center mx-[2rem] gap-[5rem]
    }
    .my__experience h2{
        @apply text-center text-[2.5rem] py-[2rem]
    }
    .my__experience p{
        @apply text-gray mb-[2rem] lg:w-[30rem] text-justify
    }
    .my__skills{
        @apply grid grid-cols-2 gap-[2rem]  mb-[2rem] lg:mb-0 lg:flex lg:align-middle lg:items-baseline
    }
    .skills{
        @apply block 
    }
    .skill h4{
        @apply text-[1.1rem]
    }
    .skill h5{
        @apply text-gray py-[.3rem]
    }
    .skill p{
        @apply font-bold text-[.8rem] text-gray max-w-[12rem]
    }

    /* CONTACT LINKS */
    .contact{
        @apply relative bg-contact-bg bg-cover bg-opacity-20 pt-[2rem] pb-[5rem] flex justify-center
    }
    .contact__holder{
        @apply lg:flex lg:justify-between lg:mx-[5rem]
    }
    .contact__wrapper h1{
        @apply font-bold text-[1.5rem] mb-[1rem] py-[1rem] text-center text-primary
    }
    .contact__links ul{
        @apply flex gap-[1.2rem] justify-center lg:block
    }
    .contact__links ul li{
        @apply mb-[1rem] 
    }
    .contact__links ul li i{
        @apply text-primary text-[1.5rem] lg:text-[2rem]
    }
    .contact__info{
        @apply relative pb-[2rem] lg:w-[18rem]
    }
    .contact__info h3{
        @apply text-[1.3rem]
    }
    .contact__info span{
        @apply flex h-[.1rem] w-[5rem]  bg-primary my-[.5rem] z-50
    }
    .contact__info h5{
        @apply text-[1.1rem] lg:leading-8 py-[1rem] 
    }
    .contact__info p{
        @apply font-bold text-[.8rem]
    }
    .contact__form{
        @apply lg:w-[40rem]
    }
    .contact__form input{
        @apply w-full h-[3rem] mb-[1rem] pl-[2rem]
    }
    .contact__form textarea{
        @apply resize-none w-full pl-[2rem] pt-[1rem]
    }
    #email{
        @apply mx-auto 
    }
    .btn__primary{
        @apply flex justify-start mt-[.5rem]
    }
    .btn__primary a {
        @apply py-[1rem] px-[1rem] uppercase bg-primary hover:bg-[#2F2F2F] hover:text-primary text-dark font-medium
    }
    /* footer */
    .footer{
        @apply relative bg-[#222222] text-light flex text-center lg:text-start pt-[5rem]
    }
    .footer__name{
        @apply hidden lg:block lg:w-full
    }
    .sitemap{
        @apply lg:w-full
    }
    .footer__links{
        @apply lg:w-full
    }
    .footer__wrapper{
        @apply px-[2rem] w-full
    }
    .footer__wrapper ul li a{
        @apply uppercase
    }
    .footer__wrapper span{
        @apply hidden w-full h-[.1rem] lg:flex justify-center bg-light mx-auto mb-[1rem]
    }
    .mline span{
        @apply lg:hidden w-full h-[.1rem] flex justify-center bg-light mx-auto mb-[1rem]
    }
    .footer__wrapper h5{
        @apply text-primary uppercase text-[1.2rem]  font-medium py-[.5rem]
    }
    .footer__wrapper ul li{
        @apply  hover:bg-[#2F2F2F] hover:text-primary 
    }
    .footer__wrapper ul li a {
        @apply flex w-full hover:text-primary py-[1rem]
    }
    .footer__holder{
        @apply lg:flex lg:justify-between mb-[1rem] lg:gap-[2rem]
    }
    
    .copyright{
        @apply bg-[#2F2F2F] text-center
    }
    .copyright p{
        @apply px-0 py-[2rem] text-primary
    }

    /* PROJECT PAGE */

    .project__page__section__text{
        @apply bg-projects-bg bg-cover bg-no-repeat bg-opacity-0 backdrop-brightness-0
    }
    .project__page__section__text{
        @apply relative text-center py-[6rem] flex justify-center
    }
    .project__page__section__text h1{
        /* @apply absolute z-50 bg-clip-text text-transparent text-[3.5rem] left-[3.5rem] top-[-1.5rem] opacity-[.07] lg:text-[7rem] */
            @apply z-50 bg-clip-text text-transparent text-[3.5rem]  opacity-[.07] lg:text-[7rem] font-ArchivoBlack
    }
    .project__page__section__text h4{
        @apply absolute text-primary font-medium text-[1.5rem] top-[7.5rem] 
        lg:text-[3rem] lg:top-[9rem]
    }
    .project__page__text{
        @apply z-50 absolute bottom-[3rem]
    }
    .project__page__text h6{
        @apply max-w-[18rem]
    }

    /* WEB DEVELOPMENT SECTION */
    .web__development{
        @apply py-[3rem] relative
    }
    .web__development__section__text{
        @apply relative text-center flex justify-center
    }
    .web__development__section__text h1{
        /* @apply absolute z-50 bg-clip-text text-transparent text-[3.5rem] left-[3.5rem] top-[-1.5rem] opacity-[.07] lg:text-[7rem] */
            @apply z-50 bg-clip-text text-transparent text-[2.2rem]  opacity-[.07] lg:text-[5.5rem] font-ArchivoBlack
    }
    .web__development__section__text h4{
        @apply absolute text-primary font-medium text-[1.6rem] top-[.7rem] 
        lg:text-[3rem] lg:top-[2rem]
    }
    .web__development__list__title{
        @apply py-[2rem] flex justify-center
    }
    .web__development__list__title h4{
        @apply text-center font-bold text-[1.4rem]
    }
    .web__development__list__text{
        @apply flex justify-center
    }
    .web__development__list__text h6{
        @apply text-center lg:max-w-[60rem] px-[1rem]
    }
    .web__development__list{
        @apply flex justify-center
    }
    .web__development__item{
        @apply relative px-[1rem]
    }
    .web__development__item__image{
        @apply mt-[2rem] flex justify-center w-[23rem] lg:w-full mx-auto
    }
    .web__development__item__title{
        @apply pt-[2rem] flex justify-center
    }
    .web__development__item__title h4{
        @apply text-center font-medium text-[1.5rem]
    }
    .live__demo__button{
        @apply flex justify-center mt-[1rem]
    }
    .live__demo__button a{
        @apply text-center text-primary 
    }
    /* AMAZON A+ CONTENT SECTION */
    .amazon__content{
        @apply relative
    }
    .amazon__content__section__text{
        @apply relative text-center flex justify-center
    }
    .amazon__content__section__text h1{
        /* @apply absolute z-50 bg-clip-text text-transparent text-[3.5rem] left-[3.5rem] top-[-1.5rem] opacity-[.07] lg:text-[7rem] */
            @apply z-50 bg-clip-text text-transparent text-[1.6rem]  opacity-[.05] lg:text-[5.5rem] lg:opacity-[.07] font-ArchivoBlack
    }
    .amazon__content__section__text h4{
        @apply absolute text-primary font-medium text-[1.6rem] top-[.6rem]
        lg:text-[3rem] lg:top-[2rem]
    }
    .amazon__content__list__title{
        @apply py-[2rem] flex justify-center
    }
    .amazon__content__list__title h4{
        @apply text-center font-bold text-[1.4rem]
    }
    .amazon__content__list__text{
        @apply flex justify-center
    }
    .amazon__content__list__text h6{
        @apply text-center lg:max-w-[60rem] px-[1rem]
    }
    .amazon__content__item{
        @apply relative
    }
    .amazon__content__background{
        @apply rounded-md bg-[#353535] mt-[2rem] mb-[4rem] w-[25rem] lg:w-[96rem] flex justify-center mx-auto
    }
    .amazon__content__item__image{
        @apply mt-[2rem] z-50 flex justify-center max-w-[26rem] lg:max-w-full mx-auto 
    }
    .amazon__content__item__image img{
        @apply object-cover object-center max-w-full
    }
    .amazon__content__item__title{
        @apply pt-[2rem] flex justify-center
    }
    .amazon__content__item__title h4{
        @apply text-center font-medium text-[1.5rem] w-[23rem] lg:w-[96rem]
    }
    .view__project__button{
        @apply flex justify-center mt-[1rem]
    }
    .view__project__button a{
        @apply text-center text-primary 
    }

    /* AMAZON STOREFRONT SECTION */
    .amazon__storefront{
        @apply relative
    }
    .amazon__storefront__section__text{
        @apply relative text-center flex justify-center
    }
    .amazon__storefront__section__text h1{
        /* @apply absolute z-50 bg-clip-text text-transparent text-[3.5rem] left-[3.5rem] top-[-1.5rem] opacity-[.07] lg:text-[7rem] */
            @apply z-50 bg-clip-text text-transparent text-[1.8rem]  opacity-[.07] lg:text-[5.3rem] font-ArchivoBlack
    }
    .amazon__storefront__section__text h4{
        @apply absolute text-primary font-medium text-[1.5rem] top-[.5rem]
        lg:text-[3rem] lg:top-[2rem]
    }
    .amazon__storefront__background{
        @apply relative rounded-md bg-[#353535] pb-[1rem] mt-[2rem] mb-[4rem] w-[25rem] lg:w-[96rem] flex justify-center mx-auto
    }
    .amazon__storefront__list__title{
        @apply py-[2rem] flex justify-center
    }
    .amazon__storefront__list__title h4{
        @apply text-center font-bold text-[1.4rem] 
    }
    .amazon__storefront__list__text{
        @apply flex justify-center
    }
    .amazon__storefront__list__text h6{
        @apply text-center lg:max-w-[60rem] px-[1rem]
    }
    .amazon__storefront__item{
        @apply relative
    }
    .amazon__storefront__item__image{
        @apply mt-[2rem] flex justify-center max-w-[26rem] lg:max-w-full mx-auto 
    }
    .amazon__storefront__item__image img{
        @apply object-cover object-center
    }
    .amazon__storefront__item__title{
        @apply pt-[2rem] flex justify-items-center w-[23rem] lg:w-[96rem] mx-auto
    }
    .amazon__storefront__item__title h4{
        @apply text-center font-medium text-[1.5rem] mx-auto
    }
    /* LOGO SECTION */
    .logo{
        @apply lg:pb-[5rem] relative
    }
    .logo__section__text{
        @apply relative text-center flex justify-center 
    }
    .logo__section__text h1{
        /* @apply absolute z-50 bg-clip-text text-transparent text-[3.5rem] left-[3.5rem] top-[-1.5rem] opacity-[.07] lg:text-[7rem] */
            @apply z-50 bg-clip-text text-transparent text-[2.5rem]  opacity-[.07] lg:text-[7rem] font-ArchivoBlack
    }
    .logo__section__text h4{
        @apply absolute text-primary font-medium text-[1.5rem] top-[1.5rem]
        lg:text-[3rem] lg:top-[3rem]
    }
    .logo__background{
        @apply rounded-2xl bg-[#353535] mt-[2rem] mb-[4rem] w-[25rem] lg:w-[96rem] flex justify-center mx-auto
    }
    .logo__list__title{
        @apply py-[2rem] flex justify-center
    }
    .logo__list__title h4{
        @apply text-center font-bold text-[1.4rem]
    }
    .logo__list__text{
        @apply flex justify-center
    }
    .logo__list__text h6{
        @apply text-center lg:max-w-[60rem] px-[1rem]
    }
    .logo__item{
        @apply relative
    }
    .logo__item__image{
        @apply mt-[2rem] flex justify-center max-w-[26rem] lg:max-w-full mx-auto 
    }
    .logo__item__image img{
        @apply z-50 object-center mx-auto
    }
    /* .logo__item__image img{
        @apply z-50 w-[15rem] object-center mx-auto
    } */
    .logo__item__title{
        @apply pt-[2rem] flex justify-items-center w-[23rem] lg:w-[96rem] mx-auto
    }
    .logo__item__title h4{
        @apply text-center font-medium text-[1.5rem] mx-auto
    }
    /* .hidden{
        @apply opacity-0 transition-all duration-[1.5s] translate-x-[-100rem] blur-md
    } */
    .show{
        @apply opacity-100 lg:translate-x-0 blur-0 duration-[1.5s] transition-all
    }
}

@media(prefers-reduced-motion){
    .project__list{
        transition: none;
    }
}